.header-main {
    background-color: rgb(56, 56, 56);
    min-width: 1300px;
}

.header-splash {
    background-color: transparent;
}

.header-container {
    position: static;
    display: flex;
    justify-content: space-between;
    min-height: 52px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    max-width: 1460px;
    min-width: 1300px;
}

.header-container > * {
    display: inline-block;
}

.header-icon-logo {
    transition: .2s;
    position: relative;
    cursor: pointer;
    top: 17px;
    height: 24px;
    flex: 1;
}
.header-icon-logo:hover {
    opacity: .8;
}

.header-icon-logo > * {
    display: inline-block;
    font-size: 18px;
}

.header-icon-logo > svg {
    margin-right: 5px;
}

.header-site-name {
    font-size: 18px;
    text-align: center;
}

.header-upload {
    display: inline-block;
    position: relative;
    top: 17px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(192, 192, 192);
    transition: 0.2s;
    height: 24px;
    flex: 1;
    text-align: center;
}

.header-upload:hover {
    color: rgb(236, 236, 236);
}

.header-upload-active {
    display: inline-block;
    position: relative;
    top: 17px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.2s;
    color: #4fa6d3;
    height: 24px;
    flex: 1;
    text-align: center;
}

.header-upload-active > *, .header-upload > * {
    display: inline-block;
}

.header-upload-icon {
    font-size: 18px;
    margin-right: 10px;
}

.header-upload-text {
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: top;
}

.header-guest-session-buttons {
    margin: 11px 0 0 30px;
    font-size: 14px;
    line-height: 20px;
    flex: 1;
    text-align: right;
}

.header-guest-session-buttons > span {
    color: hsla(0,0%,100%,.5);
    font-style: normal;
    margin: 0 10px;
}

.header-signup {
    padding: 8px 14px;
    line-height: 16px;
    border-radius: 4px;
    font-weight: 600;
    background-color: #4fa6d3;
    transition: .2s;
    font-size: 13px;
}

.header-signup:hover {
    background-color: #308ebf;
}

.header-group {
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-top: 11px;
    font-size: 14px;
    line-height: 32px;
    flex: 1;
    text-align: right;
}

.header-group > * {
    display: inline-block;
}

.header-profile-pic {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
    vertical-align: middle;
    box-sizing: border-box;
}

.header-profile-pic  > img {
    display: block;
    vertical-align: top;
    height: 30px;
    width: 30px;
    object-fit: cover;
    background-color: white;
}

.header-name {
    padding-right: 9px;
}

.header-dropdown-icon {
    padding-right: 13px;
}

.header-dropdown-content {
    margin-top: 8px;
    min-width: 130px;
    right: 0;
    display: inline-block;
    background-color: white;
    text-align: left;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(149,149,149,.08), 0 2px 8px rgba(149,149,149,.07), 0 10px 20px rgba(149,149,149,.05);
    transform-origin: top center;
    top: 100%;
    z-index: 9999999;
    position: absolute;
    animation-name: animateDropdown;
    animation-duration: 0.2s;
}

.header-dropdown-content:before {
    right: 15px;
    left: auto;
    z-index: 2;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
    content: "";
    position: absolute;
    top: -4px;
    display: inline-block;
}

.header-dropdown-content:after {
    margin: -2px -1px 0 0;
    left: auto;
    right: 15px;
    z-index: 1;
    margin: -2px 0 0 -1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(10,30,44,.08);
    content: "";
    position: absolute;
    top: -4px;
    display: inline-block;
}

@keyframes animateDropdown {
    from {opacity: 0}
    to {opacity: 1}
}

.header-dropdown-content > li {
    cursor: pointer;
    display: block;
    padding: 8px 14px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    white-space: nowrap;
    color: #49596a;
    box-shadow: inset 0 -1px 0 rgba(149,149,149,.1);
    transition: .2s;
}

.header-dropdown-content > li:hover {
    color: #4fa6d3;
    background: rgba(202,238,255,.2);
}