.splash-background-image {
    position: absolute;
    object-position: 50% 50%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1460px;
    min-width: 1100px;
    height: 1024px;
    object-fit: cover;
    opacity: 0.6;
    z-index: -10;
}

.splash-text {
    width: 100%;
    max-width: 1460px;
    min-width: 1100px;
    margin: -60px auto 0;

    padding: 98px 0 90px;
    color: white;
    text-align: center;
}

.splash-title {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 5px;
    border: none;
    font-size: 60px;
    line-height: 72px;
    font-weight: 300;
    letter-spacing: -1px;
    color: white;
    text-shadow: 0 2px 4px rgba(52,73,94,.2);
    box-sizing: border-box;
    background-image: -webkit-linear-gradient(0deg, rgb(255, 255, 255), rgb(220, 165, 155));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.splash-subtitle {
    margin: 0;
    font-weight: 400;
    padding: 10px 100px 35px;
    opacity: .7;
}

.splash-buttons {
    max-width: 1460px;
    min-width: 1100px;
    margin: 0 auto 30px;
    display: block;
    text-align: center;
}

.splash-login {
    padding: 18px 24px;
    font-size: 15px;
    line-height: 1;
    border-radius: 7px;
    color: white;
    background-color: #3b5998;
    transition-duration: 0.2s, 0.2s;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.splash-login:hover  {
    background-color: #2d4373;
}

.splash-music-direct {
    margin-left: 10px;
    padding: 18px 24px;
    font-size: 15px;
    line-height: 1;
    border-radius: 7px;
    color: white;
    background-color: #4fa6d3;
    transition-duration: 0.2s, 0.2s;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.splash-music-direct:hover {
    background-color: #308ebf;
}

.splash-signup-link {
    color: white;
    cursor: pointer;
    font-size: 14px;
    opacity: .7;
    transition-property: opacity;
    transition-duration: 0.2s;
}

.splash-signup-link > b {
    font-weight: 600;
}

.splash-signup {
    max-width: 1460px;
    min-width: 1100px;
    margin: 0 auto 20px;
    display: block;
    text-align: center;
    padding-bottom: 70px;
}

.splash-signup-link:hover {
    opacity: 1;
}

.splash-reasons {
    position: relative;
    padding-bottom: 34px;
    max-width: 1460px;
    min-width: 1100px;
    margin: 0 auto;
}

.splash-inner-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    margin-left: 37px;
    margin-right: 37px;
}

.splash-sub-reason {
    display: block;
    text-align: center;
    flex: 1 1 0;
    max-width: 360px;
}

.splash-reason-icon {
    color: rgb(247, 243, 233);
    text-align: center;
    opacity: 0.9;
}


.splash-reason-icon > svg {
    font-size: 140px;
}

.splash-reason-title {
    padding: 0 20px;
    margin: 30px 0 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    opacity: 0.8;
}

.splash-reason-subtitle {
    text-align: center;
    font-size: 15px;
    line-height: 26px;
    opacity: 0.7;
    padding: 0 30px;
}