.track-index-inner-container {

    width: 1300px;
    position: relative;
    margin: 0 auto;
    display: block;
    padding: 30px 0;
    display: block;
    box-sizing: border-box;
}

.track-index-inner-container:after, .track-index-inner-container:before {
    content: " ";
    display: table;
}

.track-index-inner-container:after {
    clear: both;
}

.track-index-track-container {
    position: relative;
    width: 740px;
    float: left;
    padding-bottom: 60px;
    display: block;
    box-sizing: border-box;
}

.track-index-track-container > h1 {
    padding-bottom: 12px;
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    color: rgb(212, 212, 212);
    border-bottom: 2px solid rgb(128, 128, 128);
}

.track-index-play-all {
    float: right;
    padding: 6px 8px;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    font-weight: 600;
    color: #FFF;
    background-color: #50b348;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    border: none;
    text-align: center;
    transition: .2s;
    box-sizing: border-box;
    display: block;
}

.track-index-play-all > svg {
    margin-right: 3px;
}

.track-index-play-all:hover {
    background-color: #408f39;
}

.track-show-action-button {
    padding: 8px 15px;
    margin-left: 10px;
    border: 1px solid rgba(156,156,156,.5);
    position: relative;
    z-index: 10;
    font-size: 13px;
    line-height: 16px;
    border-radius: 4px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    transition: .2s
}

.track-show-action-button:hover {
    border: 1px solid rgba(212,212,212,.5);
}

.track-show-action-button > svg {
    display: inline-block;
    vertical-align: middle;
    margin: -1px 8px 0 -2px;    
}

.track-show-stats  {
    display: flex;
    color: rgb(149, 149, 149);
    font-size: 14px;
    box-sizing: border-box;
}

.track-show-stats >  li {
    display: inline-block;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
}

.track-show-stats >  li > svg  {
    font-size: 19px;
    box-sizing: border-box;
    margin-right: 8px;
}