.track-upload-container {
    width: 1080px;
    position: relative;
    margin: 0 auto;
    display: block;
    padding: 30px 0;
    display: block;
    box-sizing: border-box;
    min-height: calc(100vh - 52px);
}

.track-upload-container:after, .track-upload-container:before {
    content: " ";
    display: table;
}

.track-upload-container:after {
    clear: both;
}

.track-upload-container > h1 {
    padding-bottom: 12px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    color: rgb(212, 212, 212);
    border-bottom: 2px solid rgb(96, 96, 96);
}

.track-upload-inner-container {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

.track-upload-reasons {
    width: 100%;
    display: flex;
    margin-bottom: 44px;
}

.upload-reason-1, .upload-reason-2, .upload-reason-3 {
    flex: 1;
    position: relative;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(52, 52, 52);
    border-radius: 4px;
}

.upload-reason-2 {
    margin: 0 20px;
}

.upload-reason-icon-1, .upload-reason-icon-2, .upload-reason-icon-3 {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: rgb(52, 52, 52);
    background-color: rgb(128, 128, 128);
    font-size: 24px;
}

.upload-reason-icon-1 > * {
    margin-top:  8px;
}

.upload-reason-icon-2 > * {
    margin-top: 7px;
    margin-left: 3px; 
}

.upload-reason-icon-3 > * {
    margin-top: 8px;
    margin-right: 2px;
}

.upload-reason-title {
    margin: 0;
    padding: 15px 0 0;
    color: rgb(128, 128, 128);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.track-upload-form {
    width: 1080px;
    text-align: center;
    margin-bottom: 52px;
}

.audio-file-input-container {
    width: 120px;
    height: 40px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    line-height: 57px;
    text-align: center;
    background: #4fa6d3;
    border-radius: 4px;
}

.audio-file-input {
    width: 120px;
    height: 40px;
    display: block;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px 16px;
    border: none;
    border-radius: 4px;
    color: #586573;
    background-color: #fff;
    box-shadow: inset 0 2px 2px rgba(73,89,106,.1), inset 0 0 0 1px rgba(10,30,44,.06);
}

.audio-file-input-container:after {
    display: block;
    content: "Choose Audio";
    width: 120px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    line-height: 40px;
    transition: 0.2s;
}

.audio-file-input-container:hover {
    background: #308ebf;
}

.audio-file-input-container-disabled {
    width: 120px;
    height: 40px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    line-height: 57px;
    text-align: center;
    background-color: #4fa6d3;
    border-radius: 4px;
    opacity: .6;
    box-shadow: none;
}

.audio-file-input-container-disabled:after {
    display: block;
    content: "Choose Audio";
    width: 120px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: not-allowed;
    color: #fff;
    font-size: 13px;
    line-height: 40px;
    transition: 0.2s;
}

.audio-file-input-name {
    color: rgb(79, 166, 211);
    height: 17px;
    margin-bottom: 10px;
    text-align: center;
}

.audio-file-input-rules {
    text-align: center;
    font-size: 12px;
    margin: 0px 0px 20px;
    color: rgb(156, 156, 156); 
}

.track-title-input-container{
    width: 80%;
    margin: 0 auto 20px;
    position: relative;
}

.track-title-input {
    width: 100%;
    padding-right: 115px;
    display: block;
    padding: 9px 16px;
    border: none;
    border-radius: 4px;
    color: rgb(192, 192, 192);
    background-color: rgb(56, 56, 56);
    box-shadow: inset 0 2px 2px rgba(128,128,128,.6), inset 255 255 255 1px rgba(24,24,24,.5);
    box-sizing: border-box;
    transition: 0.2s;
    text-align: start;
}

.track-title-input:focus {
    outline: none;
    color: rgb(192, 192, 192);
    background-color: rgb(72, 72, 72);
}

.track-upload-next-stage-disabled {
    cursor: not-allowed;
    opacity: .6;
    padding: 14px 22px;
    font-size: 13px;
    line-height: 1;
    border-radius: 4px;
    color: #fff;
    background-color: #50b348;
    transition: 0.2s;
    display: inline-block;
    vertical-align: middle;
}

.track-upload-next-stage {
    cursor: pointer;
    padding: 14px 22px;
    font-size: 13px;
    line-height: 1;
    border-radius: 4px;
    color: #fff;
    background-color: #50b348;
    transition: 0.2s;
    display: inline-block;
    vertical-align: middle;
}

.track-upload-next-stage:hover {
    background-color: #408f39;
}

.track-upload-name-stage-two {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    font-size: 12px;
}

.track-upload-name-stage-two-left {
    float: left;
    color: rgb(156, 156, 156);
}

.track-upload-name-stage-two-left > a {
    margin-left: 20px;
    color:#308ebf;
    transition: 0.2s;
    font-weight: 600;
}

.track-upload-name-stage-two-left > a:hover {
    color: #4fa6d3;
}

.track-upload-name-stage-two-right {
    float: right;
    color:#308ebf;
    transition: 0.2s;
    cursor: pointer;
    font-weight: 600;
}

.track-upload-name-stage-two-right:hover {
    color: #4fa6d3;
}

.track-upload-cf:before {
    content: " ";
    display: table;
}

.track-upload-cf:after {
    clear: both;
    content: " ";
    display: table;
}

.track-upload-image-container {
    width: 300px;
    height: 300px;
    margin: 0 20px 30px 0;
    position: relative;
    background: rgb(52, 52, 52);
    box-sizing: content-box;
    border: 1px solid rgb(36, 36, 36);
}

.track-upload-cloud-icon {
    position: absolute;
    color: rgb(128, 128, 128);
    margin: -55px 0 0;
    box-sizing: border-box;
    font-size: 64px;
    top: 50%;
    left: 50%;
    transform: translatex(-50%);
}

.track-upload-image-input-container {
    bottom: 90px;
    transition: 0.2s;
    width: 100%;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.track-upload-image-input-wrapper {
    width: 120px;
    height: 40px;
    left: 50%;
    transform: translatex(-50%);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    line-height: 57px;
    text-align: center;
    background-color: #586573;
    border: none;
    border-radius: 4px;
}

.image-file-input {
    width: 120px;
    height: 40px;
    display: block;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px 16px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px rgba(73,89,106,.1), inset 0 0 0 1px rgba(10,30,44,.06);
}

.track-upload-image-input-wrapper:after {
    display: block;
    content: "Choose Image";
    width: 120px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    color: rgb(192, 192, 192);
    font-size: 13px;
    line-height: 40px;
    transition: 0.2s;
}


.track-upload-image-preview > img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    background-color: white;
}


.track-upload-change-image-container {
    bottom: 20px;
    transition: 0.2s;
    width: 100%;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.track-upload-change-image-wrapper {
    width: 120px;
    height: 30px;
    left: 50%;
    transform: translatex(-50%);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    line-height: 57px;
    text-align: center;
    background-color: rgb(192, 192, 192);
    border: none;
    border-radius: 4px;
}

.track-upload-change-image-wrapper > input {
    width: 120px;
    height: 30px;
    display: block;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px 16px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px rgba(73,89,106,.1), inset 0 0 0 1px rgba(10,30,44,.06);
}

.track-upload-change-image-wrapper:after {
    display: block;
    content: "Change Image";
    width: 120px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    color: #46515C;
    font-size: 13px;
    line-height: 30px;
    transition: 0.2s;
}

.track-upload-stage-two-form-fields {
    width: 760px;
    height: 300px;
    left: 320px;
    position: relative;
}

.track-upload-stage-two-form-title-container {
    position: relative;
}

.track-upload-stage-two-form-title-container > .track-title-input {
    margin-bottom: 20px;
}

.track-upload-stage-two-form-description-container {
    position: relative;
}

.track-description-input {
    width: 100%;
    height: 38px;
    min-height: 38px;
    max-height: 400px;
    margin-bottom: 20px;
    display: block;
    resize: none;
    transition: .2s;
    box-sizing: border-box;
    text-align: start;
    padding: 9px 16px;
    border: none;
    border-radius: 4px;
    color: rgb(192, 192, 192);
    background-color: rgb(56, 56, 56);
    box-shadow: inset 0 2px 2px rgba(128,128,128,.6), inset 255 255 255 1px rgba(24,24,24,.5);
}


.track-description-input:focus {
    outline: none;
    color: rgb(192, 192, 192);
    background-color: rgb(72, 72, 72);
}

.track-upload-submission {
    margin-top: 30px;
}

.track-upload-save-container {
    float: right;
}

.track-upload-cancel {
    font-size: 15px;
    line-height: 38px;
    padding: 0 30px 0 0;
    color: rgb(192, 192, 192);
}

.track-upload-button {
    font-size: 15px;
    line-height: 38px;
    padding: 0 20px;
    min-width: 60px;
    height: 40px;
    line-height: 38px;
    font-size: 18px;
    border-radius: 4px;
    color: white;
    background-color: #50b348;
    transition: 0.2s;
    cursor: pointer;
}

.track-upload-button:hover {
    background-color: #408f39;
}

.track-upload-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.track-upload-button:disabled:hover {
    background-color: #50b348;
}

.track-upload-spinner-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: radial-gradient(rgba(52, 52, 52, 0.75), rgba(32, 32, 32, 0.75));
    z-index: 20;
    animation-name: animateUploadBackground;
    animation-duration: 0.2s;
}

@keyframes animateUploadBackground {
    from {opacity: 0}
    to {opacity: 1}
}

.track-upload-spinner {
    display: inline-block;
    position: relative;
    width: 128px;
    height: 128px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.track-upload-spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 102px;
    height: 102px;
    margin: 12px;
    border: 12px solid #fff;
    border-radius: 50%;
    animation: track-upload-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.track-upload-spinner div:nth-child(1) {
    animation-delay: -0.45s;
}
.track-upload-spinner div:nth-child(2) {
    animation-delay: -0.3s;
}
.track-upload-spinner div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes track-upload-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.track-edit-change-image-wrapper {
    width: 120px;
    height: 30px;
    left: 50%;
    transform: translatex(-50%);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    line-height: 57px;
    text-align: center;
    background-color: rgb(192, 192, 192);
    border: none;
    border-radius: 4px;
}

.track-edit-change-image-wrapper > input {
    width: 120px;
    height: 30px;
    display: block;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px 16px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px rgba(73,89,106,.1), inset 0 0 0 1px rgba(10,30,44,.06);
}

.track-edit-change-image-wrapper:after {
    display: block;
    content: "Replace Image";
    width: 120px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    color: #46515C;
    font-size: 13px;
    line-height: 30px;
    transition: 0.2s;
}

.track-edit-header-back {
    margin-left: 10px;
    font-size: 16px;
    position: relative;
    top: 2px;
    float: right;
    color: #4fa6d3;
    transition: 0.2s;
}

.track-edit-header-back:hover {
    color: #2b7fab;
}

.track-edit-delete-container {
    float: left;
}

.track-edit-delete-button {
    font-size: 15px;
    line-height: 38px;
    color: rgb(192, 192, 192);
    cursor: pointer;
}

.track-edit-delete-comformation {
    float: left;
}

.track-edit-delete-comformation > * {
    display: inline-block;
    background-color: #e2584e;

}
.track-edit-delete-comformation > *:hover {
    background-color: #d93024;
}

.track-edit-delete-comformation > *:first-child {
    background-color: #4fa6d3;
    margin-right: 20px;
}

.track-edit-delete-comformation > *:first-child:hover {
    background-color: #308ebf;;
}