.track-index-right-sidebar {
    float: right;
    width: 300px;
    display: block;
    box-sizing: border-box;
    padding-top: 30px;
    margin-top: -30px;
}

.track-index-stats {
    clear: both;
    padding-bottom: 40px;
}

.track-index-right-sidebar > h1, .track-index-stats > h1 {
    padding-bottom: 12px;
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    color: rgb(212, 212, 212);
    border-bottom: 2px solid rgb(96, 96, 96);
}

.track-index-stats > dl {
    margin: 0;
}

.track-index-stats dt {
    padding: 0 12px;
    color: rgb(149, 149, 149);
    border-bottom: 1px solid rgb(96, 96, 96);
    line-height: 40px;
}

.track-index-stats dd {
    position: absolute;
    margin: -41px 0 0;
    padding-left: 128px;
    font-weight: 600;
    text-align: right;
    color: rgb(212, 212, 212);
    line-height: 40px;
}

.track-index-footer-nav {
    font-weight: 400;
    margin-top: 10px;
}

.track-index-footer-nav > div {
    color: rgb(149, 149, 149);
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
    overflow-wrap: break-word;
}

.track-index-footer-nav > div > span  {
    color: rgb(192, 192, 192);
    font-weight: 600;
}

.track-index-footer-nav a {
    color: rgb(120,187,221);
    transition: .2s;
    font-size: 12px;
}

.track-index-footer-nav a:hover {
    color: rgb(79, 166, 211);
}

.track-index-footer-nav > br {
    line-height: 6px;
    font-size: 6px;
}


.track-index-footer-nav > a {
    height: 34px;
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 46px;
}

.track-index-footer-nav > a:first-of-type {
    margin-top: 6px;
}

.track-index-footer-nav > a > svg {
    position: absolute;
    left: 12px;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.track-index-footer-nav > a > span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}