.track-index-item {
    padding-bottom: 12px;
    clear: both;
    position: relative;
    z-index: 2;
    padding: 12px 0;
    border-bottom: 1px solid rgb(96, 96, 96);
    display: block;
    box-sizing: border-box;
}

.track-index-item:after, .track-index-item:before {
    content: " ";
    display: table;
}

.track-index-item:after {
    clear: both;
}

.track-index-item-user {
    position: relative;
    clear: both;
    margin-bottom: 12px;
    line-height: 25px;
    display: block;
    box-sizing: border-box;
}

.track-index-item-avatar {
    background-color: rgb(0, 0, 0);
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
    vertical-align: middle;
    box-sizing: border-box;
    line-height: 25px;
}

.track-index-item-avatar > img {
    display: block;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    object-fit: cover;
    background-color: white;
}

.track-index-item-display-name {
    box-sizing: border-box;
    display: inline-block;
}

.track-index-item-display-name > a {
    transition: 0.2s;
}

.track-index-item-display-name > a:hover {
    color: rgb(120,187,221);
}

.track-index-item-display-name > span {
    color: rgb(149, 149, 149);
}

.track-index-item-cloud-icon {
    float: right;
    font-size: 17px;
    color: rgb(149, 149, 149);
}

.track-index-item-time {
    margin-right: 8px;
    float: right;
    color: rgb(149, 149, 149);
}

.track-index-item-artwork {
    position: relative;
    clear: both;
    float: left;
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
    width: 160px;
    height: 160px;
    box-sizing: border-box;
    display: block;
}

.track-index-item-artwork > img {
    height: 160px;
    width: 160px;
    box-sizing: border-box;
    object-fit: cover;
    display: block;
    background-color: white;
}

.track-index-item-artwork:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
    box-shadow: inset 0 0 0 1px rgba(149,149,149,0.5);
}

.track-index-item-info {
    position: relative;
    padding-left: 255px;
    min-height: 64px;
    display: block;
    box-sizing: border-box;
}

.track-index-item-play-pause {
    position: absolute;
    left: 180px;
    display: block;
    width: 56px;
    height: 56px;
}

.track-index-item-player-button-pause {
    width: 56px;
    height: 56px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transition: .2s;
    color: rgba(79, 166, 211, 0.8);
}

.track-index-item-player-button-pause:hover {
    color: rgba(79, 166, 211, 0.8);
}

.track-index-item-player-button-play {
    width: 56px;
    height: 56px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    transition: .2s;
}

.track-index-item-player-button-play:hover {
    color: rgba(120,187,221, 0.8);
}

.track-index-item-progress-svg {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: pointer;
}

.track-index-item-progress-background, .track-index-item-progress-circle {
    stroke-width: 3;
    r: 27;
    cx: 28;
    cy: 28;
}

.track-index-item-progress-background {
    stroke: rgba(255, 255, 255, 0.8);
    fill: rgba(18,18,18,0.3);
}

.track-index-item-progress-circle {
    transition: 0.2s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    fill: transparent;
    stroke: rgba(79, 166, 211, 0.8);
    stroke-dashoffset: 169.6460032938;
}

.track-index-item-play-icon {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: calc(50% + 2px);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.track-index-item-pause-icon {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.track-index-item-title {
    padding-right: 174px;
    padding-bottom: 2px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    line-height: 23px;
    color: rgba(212, 212, 212, 1);
}

.track-index-item-title > a:hover {
    color: rgba(120,187,221, 1);
    transition: .2s;
    cursor: pointer;
}

.track-index-item-sub-user {
    padding-right: 174px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(149, 149, 149);
    box-sizing: border-box;
    display: block;
}

.track-index-item-sub-user > a {
    color: rgb(120,187,221);
    cursor: pointer;
    transition: .2s
}

.track-index-item-sub-user > a:hover {
    color: rgb(79, 166, 211);

}

.track-index-item-waveform {
    position: relative;
    margin: -7px 0 14px 180px;
    height: 33px;
    color: rgb(80, 80, 80);
    box-sizing: border-box;
    display: block;
}

.track-index-item-waveform:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 10px;
    background-color: rgba(190,204,213,0.3);
}

.track-index-item-length {
    position: absolute;
    box-sizing: border-box;
    display: block;
    bottom: -11px;
    right: 3px;
    font-size: 11px;
    z-index: 1;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 1px 1px rgba(0,0,0, 0.4);
    font-weight: 600;
}

.track-index-item-length:before {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 10000;
    display: none;
    padding: 3px 7px;
    margin: -12px 0 0;
    transform: translateX(-50%);
    color: #fff;
    background: rgba(28,28,28,.85);
    font-size: 1px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    letter-spacing: normal;
    font-style: normal;
    text-shadow: none;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(149,149,149,.1);
}

.track-index-item-length:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 10px;
    display: none;
    width: 0;
    height: 0;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(28,28,28,.85);
}

.track-index-waveform-progress {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0;
    height: 43px;
    overflow: hidden;
    vertical-align: top;
    transition: 0.2s;
}

.track-index-waveform-progress > img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 560px;
    height: 33px;
    vertical-align: top;
}

.track-index-waveform-progress > div {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    background-color: rgba(190,204,213,0.3);
}

.track-index-item-waveform > img  {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    visibility: visible;
    vertical-align: top;
}

.track-index-item-actions-container {
    position: relative;
    z-index: 2;
    padding: 10px 0;
    display: block;
    box-sizing: border-box;
}

.track-index-item-actions {
    float: left;
    display: block;
    box-sizing: border-box;
}

.track-index-item-action, .track-index-item-action-active {
    padding: 8px 12px;
    height: 32px;
    margin-right: 10px;
    font-weight: 600;
    line-height: 16px;
    background: rgb(54, 54, 54);;
    font-size: 13px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    transition: .2s;
}

.track-index-item-action {
    box-shadow: inset 0 0 0 1px rgb(108, 108, 108);
    color: rgb(192, 192, 192);
}

.track-index-item-action:hover {
    box-shadow: inset 0 0 0 1px rgb(149, 149, 149);
}

.track-index-item-action-active {
    box-shadow: inset 0 0 0 1px rgb(120,187,221);
    color: rgb(79, 166, 211);
}

.track-index-item-action-active:hover {
    color: rgb(120,187,221);
}


.track-index-item-stats {
    float: right;
    opacity: .8;
    line-height: 31px;
    box-sizing: border-box;
    color: rgb(149, 149, 149);
}

.track-index-item-new-icon {
    font-size: 14px;
    position: relative;
    top: -1px;
    margin-right: 4px;
    margin-left: 12px;
    display: inline-block;
    line-height: 31px;
}

.track-index-item-new-stats {
    display: inline-block;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    line-height: 31px;
}

.track-index-item-new-badge {
    top: -1px;
    margin-left: 12px;
    display: inline-block;
    padding: 2px 4px;
    position: relative;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: normal;
    line-height: 1;
    background: #e79e35;
    color: #fff;
    border-radius: 3px;
    box-sizing: border-box;
}


.track-trending-postion-container {
    position: absolute;
    top: 12px;
    left: 0;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.track-trending-position-background, .track-trending-position-background-first {
    position: absolute;
    top: -72px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 72px solid transparent;
    border-bottom: 72px solid transparent;
}

.track-trending-position-background {
    border-left: 72px solid rgb(212, 212, 212);
}

.track-trending-position-background-first {
    border-left: 72px solid rgb(238,232,170);
}

.track-trending-position, .track-trending-position-first {
    position: absolute;
    top: -2px;
    left: -2px;
    font-size: 24px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-weight: 600;
}

.track-trending-position {
    color: rgb(72, 72, 72);
}

.track-trending-position-first {
    color: rgb(139,69,19);
}


.track-trending-position > span, .track-trending-position-first > span {
    top: -11px;
    font-size: 40%;
}

.track-index-item-remove-favorite {
    position: absolute;
    right: -10px;
    top: 2px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
    color: rgb(172,172,172);
    transition: 0.2s;
}

.track-index-item-remove-favorite:hover {
    color: #e2584e;
}