.track-index-item {
    padding-bottom: 12px;
    clear: both;
    position: relative;
    z-index: 2;
    padding: 12px 0;
    border-bottom: 1px solid rgb(239, 239, 239);
    display: block;
    box-sizing: border-box;
}

.track-index-item:after, .track-index-item:before {
    content: " ";
    display: table;
}

.track-index-item:after {
    clear: both;
}

.track-index-item-user {
    position: relative;
    clear: both;
    margin-bottom: 12px;
    line-height: 25px;
    /* color: rgb(59, 59, 59); */
    display: block;
    box-sizing: border-box;
}

.track-index-item-avatar {
    background-color: rgb(0, 0, 0);
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
    vertical-align: middle;
    box-sizing: border-box;
    line-height: 25px;
}

.track-index-item-avatar > img {
    display: block;
    min-width: 16px;
    vertical-align: top;
    box-sizing: border-box;
    line-height: 25px;
}

.track-index-item-display-name {
    box-sizing: border-box;
    display: inline-block;
}

.track-index-item-display-name > span {
    color: rgb(149, 149, 149);
}

.track-index-item-cloud-icon {
    float: right;
    font-size: 17px;
    color: rgb(149, 149, 149);
}


.track-index-item-time {
    margin-right: 8px;
    float: right;
    color: rgb(149, 149, 149);
}


.track-index-item-artwork {
    position: relative;
    clear: both;
    float: left;
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
    width: 160px;
    height: 160px;
    box-sizing: border-box;
    display: block;
}

.track-index-item-artwork > img {
    height: 160px;
    width: 160px;
    box-sizing: border-box;
    display: block;
}

.track-index-item-artwork:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
    box-shadow: inset 0 0 0 1px rgba(149,149,149,.5);
}

.track-index-item-info {
    position: relative;
    padding-left: 255px;
    min-height: 64px;
    display: block;
    box-sizing: border-box;
}

.track-index-item-player-button {
    position: absolute;
    left: 180px;
    display: block;
    width: 56px;
    height: 56px;
    user-select: none;
    cursor: pointer;
    text-align: center;
    line-height: 56px;
    box-sizing: border-box;
    font-size: 56px;
}


.track-index-item-progress {
    position: relative;
    margin: -7px 0 14px 180px;
    height: 33px;
    color: #beccd5;
}

.track-index-item-title {
    padding-right: 174px;
    padding-bottom: 2px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    line-height: 23px;
    transition: .2s;
    cursor: pointer;
}

.track-index-item-title:hover {
    color: rgb(120,187,221);
}


.track-index-item-sub-user {
    padding-right: 174px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(149, 149, 149);
    box-sizing: border-box;
    display: block;
}

.track-index-item-sub-user > span {
    color: #4fa6d3;
    cursor: pointer;
    transition: .2s
}

.track-index-item-sub-user > span:hover {
    color: rgb(120,187,221);
}

.track-index-item-waveform {
    position: relative;
    margin: -7px 0 14px 180px;
    height: 33px;
    color: rgb(80, 80, 80);
    box-sizing: border-box;
    display: block;
}

.track-index-item-waveform:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 10px;
    background-color: rgba(190,204,213,.3);
}

.track-index-item-length {
    position: absolute;
    box-sizing: border-box;
    display: block;
    bottom: -11px;
    right: 3px;
    font-size: 11px;
    z-index: 1;
    color: rgb(212, 212, 212);
    text-shadow: -1px -1px 0 rgb(48,48,48), 1px -1px 0 rgb(48,48,48), -1px 1px 0 rgb(48,48,48), 1px 1px 0 rgb(48,48,48);
}

.track-index-item-length:before {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 10000;
    display: none;
    padding: 3px 7px;
    margin: -12px 0 0;
    transform: translateX(-50%);
    color: #fff;
    background: rgba(28,28,28,.85);
    font-size: 1px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    letter-spacing: normal;
    font-style: normal;
    text-shadow: none;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(149,149,149,.1);
}

.track-index-item-length:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 10px;
    display: none;
    width: 0;
    height: 0;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(28,28,28,.85);
}

.track-index-item-waveform > img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    visibility: visible;
    vertical-align: top;
}